<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>io.cozy.pass.mobile</key>
        <string>Cozy Pass Distribution Profile</string>
        <key>io.cozy.pass.mobile.autofill</key>
        <string>Cozy Pass Autofill Distribution Profile</string>
        <key>io.cozy.pass.mobile.find-login-action-extension</key>
        <string>Cozy Pass Find Login Action Distribution Profile</string>
        <key>io.cozy.pass.mobile.share-extension</key>
        <string>Cozy Pass Share Extension Distribution Profile</string>
    </dict>
</dict>
</plist>